<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lf.dao.SysHuagaoTagMapper">

    <resultMap id="BaseResultMap" type="com.lf.entity.SysHuagaoTag">
        <id column="id" property="id" />
        <result column="huagao_id" property="huagaoId" />
        <result column="tag_id" property="tagId" />
        <result column="tag_source" property="tagSource" />
        <result column="created_at" property="createdAt" />
    </resultMap>

    <sql id="Base_Column_List">
        id, huagao_id, tag_id, tag_source, created_at
    </sql>

</mapper>
