<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lf.dao.SysLunboMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lf.entity.SysLunbo">
        <id column="id" property="id" />
        <result column="lunbo" property="lunbo" />
        <result column="name" property="name" />
        <result column="img_position" property="imgPosition" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, lunbo, name, img_position
    </sql>

</mapper>
