<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lf.dao.SysOrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lf.entity.SysOrder">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="photo" property="photo" />
        <result column="price" property="price" />
        <result column="userids" property="userids" />
        <result column="username" property="username" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="xddate" property="xddate" />
        <result column="status" property="status" />
        <result column="spids" property="spids" />
        <result column="shangjiaids" property="shangjiaids" />
        <result column="pingjia" property="pingjia" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, photo, price, userids, username, phone, address, xddate, status, spids,shangjiaids,pingjia
    </sql>

</mapper>
